services:
  server:
    image: nats:2.12.4-scratch
    ports:
      - 127.0.0.1:4222:4222
      - 127.0.0.1:4223:4223
      - 127.0.0.1:8222:8222
    environment:
      - NATS_TOKEN_ADMIN=${ADMIN_TOKEN}
      - NATS_TOKEN_MANAGER=${MANAGER_TOKEN}
      - NATS_TOKEN_COLLECTOR=${COLLECTOR_TOKEN}
    volumes:
      - ./nats/nats-server.conf:/nats-server.conf
    command: -c /nats-server.conf
  setup:
    image: natsio/nats-box:0.19.2
    environment:
      - NATS_URL=server:4222
      - NATS_USER=admin
      - NATS_PASSWORD=${ADMIN_TOKEN}
    volumes:
      - ./nats/setup.sh:/setup.sh
      - ./nats/stream.json:/stream.json
    command: /setup.sh
    depends_on:
      - server
