@import 'tailwindcss';

@theme {
  --shadow-right: 4px 0 8px 0 rgba(17, 24, 39, 0.25);
  --shadow-top: 0 -8px 8px 0 rgba(17, 24, 39, 0.1);
  --color-red-high-contrast: rgb(250, 78, 78);
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Safe area top inset (for android status bar) */
  --safe-area-top: env(safe-area-inset-top, 0px);
  /* Safe area bottom inset (for android navigation) */
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
  /* define the space the popup should leave for the app bar */
  --app-bar-space: 64px;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  /* disable android pull to refresh feature */
  overflow-y: hidden;
}

*::-webkit-scrollbar {
  @apply h-3 w-3 bg-transparent;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar-thumb {
  transition: background 0.2s ease-in-out;
  border: 3px solid transparent;
  @apply rounded-full bg-gray-500 bg-clip-content dark:bg-neutral-700;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600 dark:bg-neutral-600;
}

*::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

.prose * {
  @apply dark:text-white;
}

.prose a {
  @apply text-blue-500 dark:text-white;
}
