# use this compose file for production

version: '3'

services:
  nats:
    image: nats:2.10.20-scratch
    ports:
      - 4222:4222
      - 4223:4223
      - 127.0.0.1:8222:8222
    environment:
      - NATS_TOKEN_ADMIN=${ADMIN_TOKEN}
      - NATS_TOKEN_MANAGER=${MANAGER_TOKEN}
      - NATS_TOKEN_COLLECTOR=${COLLECTOR_TOKEN}
    volumes:
      - ./nats/nats-server.conf:/nats-server.conf
    command: -c /nats-server.conf
    restart: always
    networks:
      - web
      - default
  setup:
    image: natsio/nats-box:0.13.4
    environment:
      - NATS_URL=nats:4222
      - NATS_USER=admin
      - NATS_PASSWORD=${ADMIN_TOKEN}
    volumes:
      - ./nats/setup.sh:/setup.sh
      - ./nats/stream.json:/stream.json
    command: /setup.sh
    restart: on-failure
    depends_on:
      - nats
  kvg:
    image: anbraten/kiel-live-kvg:latest
    environment:
      - COLLECTOR_SERVER=nats
      - COLLECTOR_TOKEN=${COLLECTOR_TOKEN}
    restart: always
    depends_on:
      - nats

networks:
  web:
    external: true
